
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head_nav {
    position:fixed;
    width: 100%;
    text-align: center;
    background-image:url('https://images.unsplash.com/photo-1534353436294-0dbd4bdac845?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=60');
    height: 170px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

.main_1 {
    margin-top: 200px;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}